@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    background-image: linear-gradient(to right, #CCE6F4, #4BA3C3);
}
main { 
    background-color: white;
    border-radius: 10px;;
    box-shadow: 5px 5px 15px #0430469c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { 
    color: #175676 ;
    text-align: center;
    text-shadow: 1px 1px 2px #0430469c;
}
h2 {
    color: #BA324F;
}
p {
    text-align: justify;
}